*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Popins", sans-serif;
    }
    .navbar .container {
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-content: center;
    }